## backend

/portfolio-backend/vendor/bundle

/portfolio-backend/.env
/portfolio-backend/config/master.key

/portfolio-backend/.bundle

# Ignore all logfiles and tempfiles.
/portfolio-backend/log/*
/portfolio-backend/tmp/*
!/portfolio-backend/log/.keep
!/portfolio-backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
/portfolio-backend/tmp/pids/*
!/portfolio-backend/tmp/pids/
!/portfolio-backend/tmp/pids/.keep

# Ignore uploaded files in development.
/portfolio-backend/storage/*
!/portfolio-backend/storage/.keep
/portfolio-backend/.byebug_history






## frontend

/portfolio-frontend/app/node_modules
/portfolio-frontend/app/.pnp
/portfolio-frontend/app/.pnp.js

# testing
/portfolio-frontend/app/coverage

# next.js
/portfolio-frontend/app/.next/
/portfolio-frontend/app/out/

# production
/portfolio-frontend/app/build

# misc
/portfolio-frontend/app/.DS_Store
/portfolio-frontend/app/*.pem

# debug
/portfolio-frontend/app/npm-debug.log*
/portfolio-frontend/app/yarn-debug.log*
/portfolio-frontend/app/yarn-error.log*

# local env files
/portfolio-frontend/app/.env.local
/portfolio-frontend/app/.env.development.local
/portfolio-frontend/app/.env.test.local
/portfolio-frontend/app/.env.production.local

# vercel
/portfolio-frontend/app/.vercel

# typescript
/portfolio-frontend/app/*.tsbuildinfo